# cuda121  cudnn 8.9
--index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio


--index-url default
facenet-pytorch
opencv-python~=4.11.0.86
Pillow
ultralytics~=8.3.100
numpy

pyinstaller




## cpu version
#torch
#torchvision
#torchaudio
#
#facenet-pytorch
#opencv-python~=4.11.0.86
#Pillow
#ultralytics~=8.3.100
#numpy
#
#pyinstaller
